html, body {
	height: 100%;
}

button {
	background-color: transparent; border: 0; cursor: pointer; 
}
button:focus, input:focus, select:focus, textarea:focus {
	outline: none;
}
button.border { 
	border: 1px solid #fff; border-radius: 0.4rem; 
}
button.border:hover, button.border.active, .dropdown.show > button { 
	border-color: #e1dacd; 
}
button.block { position: relative;  }
button.block:hover {background-color: #f5e4c0}

.opa {  opacity: 0.75; cursor: pointer; }
.opa:hover { opacity: 1  }

a, a:visited, a:hover { color: #d7b469; }

.toggle [type="radio"], .toggle [type="checkbox"] { display: none !important; }
.toggle > [type="radio"] + label, .toggle > [type="checkbox"] + label { background: url('../img/radio.png') center center no-repeat; background-size: contain; width: 3.2rem; height: 2rem; cursor: pointer; margin:0; }
.toggle > [type="radio"]:checked + label, .toggle > [type="checkbox"]:checked + label { background-image: url('../img/radio-active.png'); }

.square-15 { width: 1.5rem; height: 1.5rem; }
.square-25 { width: 2.5rem; height: 2.5rem; }
.square-30 { width: 3rem; height: 3rem; }
.square-35 { width: 3.5rem; height: 3.5rem; }

.bg { background-position: center center; background-repeat: no-repeat; background-origin: content-box; }
.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }

.btn-gold { background-color: #d7b469; color: white; height: 2.5rem; }
.btn-gold:hover { background-color: #a1823f; }
.btn-outline-gold { border: 1px solid #d7b469; height: 2.5rem; color: #d7b469; }
.btn-outline-gold:hover { border: 1px solid #a1823f; color: #a1823f; }
.btn-close:after { content: ''; display: inline-block; height: 0.8rem; width: 0.8rem; margin-left: 1rem; vertical-align: middle; background: url('../img/x-white.png') center center no-repeat; background-size: contain; }

.text-underline { text-decoration: underline }

.font-ultra { font-family: Avenir-Ultra }
.font-ultraitalic { font-family: Avenir-Ultra-Italic }
.font-thin { font-family: Avenir-Thin }
.font-thinitalic { font-family: Avenir-Thin-Italic }
.font-light { font-family: Avenir-Light }
.font-lightitalic { font-family: Avenir-Light-Italic }
.font-regular { font-family: Avenir-Regular }
.font-italic { font-family: Avenir-Italic }
.font-medium { font-family: Avenir-Medium }
.font-mediumitalic { font-family: Avenir-Medium-Italic }
.font-bold { font-family: Avenir-Bold }
.font-bolditalic { font-family: Avenir-Bold-Italic }
.font-heavy { font-family: Avenir-Heavy }
.font-heavyitalic { font-family: Avenir-Heavy-Italic }

.font-8 { font-size: 0.57rem; }
.font-9 { font-size: 0.64rem; }
.font-10 { font-size: 0.71rem; }
.font-11 { font-size: 0.79rem; }
.font-12 { font-size: 0.86rem; }
.font-13 { font-size: 0.93rem; }
.font-14 { font-size: 1rem; }
.font-15 { font-size: 1.07rem; }
.font-16 { font-size: 1.14rem; }
.font-17 { font-size: 1.21rem; }
.font-18 { font-size: 1.28rem; }
.font-19 { font-size: 1.35rem; }
.font-20 { font-size: 1.42rem; }

.font-gold { color: #d7b469; }
.font-gray { color: #767676; }

.float > * { float: left; }
.float > *.right { float: right; }
.float.after { content: ''; display: block; clear: both; }

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #af8731;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: #fff;
  border: 1px solid gray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.8rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #af8731;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}