@font-face { font-family: Avenir-Ultra; src: local(AVENIRNEXTCYR-ULTRALIGHT), url('../fonts/AVENIRNEXTCYR-ULTRALIGHT.OTF'); }
@font-face { font-family: Avenir-Ultra-Italic; src: local(AVENIRNEXTCYR-ULTRALIGHTIT), url('../fonts/AVENIRNEXTCYR-ULTRALIGHTIT.OTF'); }
@font-face { font-family: Avenir-Thin; src: local(AVENIRNEXTCYR-THIN), url('../fonts/AVENIRNEXTCYR-THIN.OTF'); }
@font-face { font-family: Avenir-Thin-Italic; src: local(AVENIRNEXTCYR-THINITALIC), url('../fonts/AVENIRNEXTCYR-THINITALIC.OTF'); }
@font-face { font-family: Avenir-Light; src: local(AVENIRNEXTCYR-LIGHT), url('../fonts/AVENIRNEXTCYR-LIGHT.OTF'); }
@font-face { font-family: Avenir-Light-Italic; src: local(AVENIRNEXTCYR-LIGHTITALIC), url('../fonts/AVENIRNEXTCYR-LIGHTITALIC.OTF'); }
@font-face { font-family: Avenir-Regular; src: local(AVENIRNEXTCYR-REGULAR), url('../fonts/AVENIRNEXTCYR-REGULAR.OTF'); }
@font-face { font-family: Avenir-Italic; src: local(AVENIRNEXTCYR-ITALIC), url('../fonts/AVENIRNEXTCYR-ITALIC.OTF'); }
@font-face { font-family: Avenir-Medium; src: local(AVENIRNEXTCYR-MEDIUM), url('../fonts/AVENIRNEXTCYR-MEDIUM.OTF'); }
@font-face { font-family: Avenir-Medium-Italic; src: local(AVENIRNEXTCYR-MEDIUMITALIC), url('../fonts/AVENIRNEXTCYR-MEDIUMITALIC.OTF'); }
@font-face { font-family: Avenir-Bold; src: local(AVENIRNEXTCYR-BOLD), url('../fonts/AVENIRNEXTCYR-BOLD.OTF'); }
@font-face { font-family: Avenir-Bold-Italic; src: local(AVENIRNEXTCYR-BOLDITALIC), url('../fonts/AVENIRNEXTCYR-BOLDITALIC.OTF'); }
@font-face { font-family: Avenir-Heavy; src: local(AVENIRNEXTCYR-HEAVY), url('../fonts/AVENIRNEXTCYR-HEAVY.OTF'); }
@font-face { font-family: Avenir-Heavy-Italic; src: local(AVENIRNEXTCYR-HEAVYITALIC), url('../fonts/AVENIRNEXTCYR-HEAVYITALIC.OTF'); }

html { font-size: 14px; }

body { font-family: Avenir-Regular; background-color: #f7f7f7; }

header { position:fixed; height: 4.29rem; top:0; left:0; right:0; z-index: 1;}
header > button.bg { position: absolute; left:0; height: 4.29rem; width: 4.29rem; padding: 1.5rem; background-color: black; background-image: url('../img/arrow-right.png') }
header > a.bg { width: 7rem; height: 100%; background-image: url('../img/logo.png') }

.block { background-color: white; }

.container { padding-top: 6.43rem; padding-bottom: 4rem; }

.dropdown-menu { margin: 0; border: 0; border-radius: 0; right: -1px; }

aside { position: fixed; top: 0; left: -28.75rem; bottom: 0; z-index: 2; width: 28.57rem; overflow-y: auto; }
aside.active { left: 0; }
aside > div:nth-child(1) { background-color: black;}
aside > div:nth-child(1) > button { height: 4.29rem; width: 4.29rem; padding: 1.1rem; }
aside > div:nth-child(1) > button:nth-child(1) { background-image: url('../img/aside-menu-1.png'); }
aside > div:nth-child(1) > button:nth-child(2) { background-image: url('../img/aside-menu-2.png'); }
aside > div:nth-child(1) > button:nth-child(3) { background-image: url('../img/aside-menu-3.png'); }
aside > div:nth-child(1) > button:nth-child(4) { background-image: url('../img/aside-menu-4.png'); }
aside > div:nth-child(1) > button:nth-child(5) { background-image: url('../img/aside-menu-5.png'); }
aside > div:nth-child(1) > button:nth-child(6) { background-color: white; background-image: url('../img/arrow-left.png'); }
aside > div:nth-child(1) > button:nth-child(6):hover { background-color: #e6e4e4  }
aside > div:nth-child(1) > button.active, aside div:nth-child(1) > button:hover, header > button.bg:hover { background-color: #232323; }
aside > div:nth-child(2) { height: 28.75rem; }
aside > div:nth-child(2) > .my-5 { font-size: 2.14rem; }
aside > div:nth-child(3) .font-gold { font-size: 2rem; }
aside > div:nth-child(4) { border-bottom: 1px solid #ececec; }

aside .items.direct > .row { border-bottom: 1px solid #ececec; }
aside .items.direct > .row > div:nth-child(3) { background-image: url('../img/arrow-right.png') }

aside .items.tags > .row { border-bottom: 1px solid #ececec; }
aside .items.tags > .row > .bg { background-image: url('../img/arrow-right.png') }

aside .items.publics .bg { width: 7.57rem; height: 7.57rem; }

.container > .block.search > button:first-child { background-image: url('../img/block-search.png')  }
.container > .block.search > input { height: 2.8rem; }
.container > .block.search > button:last-child { background-image: url('../img/block-add.png')  }

.container > .block.nav { height: 5rem; line-height: 5rem; }
.container > .block.nav > div { border-bottom: 0.25rem solid #fff; cursor: pointer; }
.container > .block.nav > div:hover, .container > .block:nth-child(2) > div.active { border-color: #d7b46b; }

.content.settings .block { border: 1px solid #f7f7f7; }
.content.settings .arrow-right { background-image: url('../img/arrow-right.png') }
.content.settings .cur:hover { background-color: #f7f7f7; }
.content.settings > .row > div:nth-child(1) { margin-bottom: 3rem;  padding-bottom: 2rem;  }

.card { width:25rem; height:32rem; margin: 1rem 0; border: 0; }
.card .dropdown { position: static; }
.card .head #card-menu { background-image:url('../img/menu.png'); }
.card .head .dropdown-item .bg { background-image:url('../img/arrow-right.png') }
.card .body { height: 25rem; }
.card .foot .dropdown button { background-image:url('../img/card-action-1.png'); }
.card .foot > div > button:nth-of-type(1) { background-image:url('../img/card-action-2.png'); }
.card .foot > div > button:nth-of-type(2) { background-image:url('../img/card-action-3.png'); }
.card .foot > div > button:nth-of-type(3) { background-image:url('../img/card-action-4.png'); }
.card .foot > div > button:nth-of-type(4) { background-image:url('../img/card-action-5.png'); }

.usercard > .bg { width: 10.5rem; height: 10.5rem }
.usercard >  div > div > div:nth-child(1) .bg { width: 4.5rem; height: 4.5rem; }
.usercard button.bg { background-image: url('../img/x.png'); }
.usercard .font-22 { font-size: 1.57rem; }

@media all and (min-width: 1600px) {
	aside {
		left: 0 !important;
	}
	aside > div:nth-child(1) > button:nth-child(6) {
		display: none;
	}
	header {
		left: 28.75rem;
	}
	.wrapper {
		margin-left: 28.75rem;
	}
	.pl-sm-5 {
		padding-left: 0 !important;
	}
	header > button.bg {
		display: none;
	}
	header > div.bg {
		margin-left: 1.5rem !important;
	}
}

@media all and (max-width: 400px) {
	html { font-size: 3.5vw; }
}
