@font-face { font-family: Avenir-Ultra; src: local(AVENIRNEXTCYR-ULTRALIGHT), url('../fonts/AVENIRNEXTCYR-ULTRALIGHT.OTF'); }
@font-face { font-family: Avenir-Ultra-Italic; src: local(AVENIRNEXTCYR-ULTRALIGHTIT), url('../fonts/AVENIRNEXTCYR-ULTRALIGHTIT.OTF'); }
@font-face { font-family: Avenir-Thin; src: local(AVENIRNEXTCYR-THIN), url('../fonts/AVENIRNEXTCYR-THIN.OTF'); }
@font-face { font-family: Avenir-Thin-Italic; src: local(AVENIRNEXTCYR-THINITALIC), url('../fonts/AVENIRNEXTCYR-THINITALIC.OTF'); }
@font-face { font-family: Avenir-Light; src: local(AVENIRNEXTCYR-LIGHT), url('../fonts/AVENIRNEXTCYR-LIGHT.OTF'); }
@font-face { font-family: Avenir-Light-Italic; src: local(AVENIRNEXTCYR-LIGHTITALIC), url('../fonts/AVENIRNEXTCYR-LIGHTITALIC.OTF'); }
@font-face { font-family: Avenir-Regular; src: local(AVENIRNEXTCYR-REGULAR), url('../fonts/AVENIRNEXTCYR-REGULAR.OTF'); }
@font-face { font-family: Avenir-Italic; src: local(AVENIRNEXTCYR-ITALIC), url('../fonts/AVENIRNEXTCYR-ITALIC.OTF'); }
@font-face { font-family: Avenir-Medium; src: local(AVENIRNEXTCYR-MEDIUM), url('../fonts/AVENIRNEXTCYR-MEDIUM.OTF'); }
@font-face { font-family: Avenir-Medium-Italic; src: local(AVENIRNEXTCYR-MEDIUMITALIC), url('../fonts/AVENIRNEXTCYR-MEDIUMITALIC.OTF'); }
@font-face { font-family: Avenir-Bold; src: local(AVENIRNEXTCYR-BOLD), url('../fonts/AVENIRNEXTCYR-BOLD.OTF'); }
@font-face { font-family: Avenir-Bold-Italic; src: local(AVENIRNEXTCYR-BOLDITALIC), url('../fonts/AVENIRNEXTCYR-BOLDITALIC.OTF'); }
@font-face { font-family: Avenir-Heavy; src: local(AVENIRNEXTCYR-HEAVY), url('../fonts/AVENIRNEXTCYR-HEAVY.OTF'); }
@font-face { font-family: Avenir-Heavy-Italic; src: local(AVENIRNEXTCYR-HEAVYITALIC), url('../fonts/AVENIRNEXTCYR-HEAVYITALIC.OTF'); }

html { font-size: 14px; }

body.bg { font-family: Avenir-Regular; background-color: black; background-image: url('../img/background.jpg'); color: white; }

.block { background-color: white; }

@media all and (max-width: 500px) {
	html { font-size: 2.8vw; }
}
